{% extends "layouts/base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center mt-5">
    <div class="card text-center" style="width: 20rem">
        <div class="card-header">Signup</div>
        <div class="card-body">
            <form class="row g-3 needs-validation" novalidate method="POST">
                <div class="col-12">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="col-12">
                    <label for="surname" class="form-label">Surname</label>
                    <input type="text" class="form-control" id="surname" name="surname" required>
                </div>
                <div class="col-12">
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" class="form-control" id="username" name="username"
                            aria-describedby="inputGroupPrepend" required>
                    </div>
                </div>
                <div class="col-12">
                    <label for="validationCustomPassword" class="form-label">Password</label>
                    <div class="input-group has-validation">
                        <input type="password" class="form-control" id="validationCustomPassword" name="password"
                            aria-describedby="inputGroupPrepend" required />
                        <button type="button" id="showPasswordBtn" class="btn btn-outline-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-eye" viewBox="0 0 16 16">
                                <path
                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                <path
                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-secondary" type="submit">
                        Signup
                    </button>
                </div>
            </form>            
        </div>
    </div>
</div>

{% endblock %}